<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

</head>
<body class="grey-bg">

    <%- include('nav.ejs') %> 
    <h2 class="title">모든 게시물</h2>

    <div class="detail-bg">
        <% if (richTexts && richTexts.length > 0) { %>
            <% richTexts.forEach(function(richText) { %>
                <div class="rich-text-container">
                    <div class="ql-container ql-snow">
                        <div class="ql-editor">
                            <%- richText %>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>게시물이 없음</p>
        <% } %>
    </div>
    
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>


  </body>
</html>