<div class="nav-container">
    <div class="nav-left">
        <a href="/list" class="home">홈페이지</a>
        <a href="/myclasses">강의목록</a>
        <a href="/myclasses-posts">활동스트림</a>
    </div>
    <div class="nav-right">
        <a href="/logout">로그아웃</a>
    </div>
</div>
